<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <!--<div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Lab Tests</a></li>
                   
                </ul>
            </div>
        </div>-->
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- STORE -->
            <div id="store" class="col-md-12">
                
                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    <div class="col-md-3 col-xs-6"  *ngFor="let labItem of testListRecord">
                        <div class="product">
                            <div class="product-img">
                                <img src="./assets/img/covid.png" alt="">
                                
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{labItem.category}}</p>
                                <h3 class="product-name"><a href="#">{{labItem.itemName}}</a></h3>
                                <h4 class="product-price">{{labItem.minPrice}} INR</h4>
                               
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"  (click)="addCart(labItem)"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </div>
                        </div>
                    </div>
                    <!-- /product -->

                    <div class="clearfix visible-sm visible-xs"></div>

                    
                </div>
                <!-- /store products -->

              
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
