<div class="container my-5">
    <div class="row justify-content-end">
        <div class="col-sm-12 mb-4">
            <h5>Shopping Cart </h5>
            <div class="list-group" *ngFor="let list of packages;let i=index">
                <div class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-0">{{list.itemName}}</h6>
                    <p class="mb-0">Price: ₹ {{list.minPrice}} | Qty: {{list.testCount}} | Sub Total: {{list.minPrice * list.testCount}}</p>
                  </div>
                </div>
                
                  
            </div>
        </div>
        <div class="col-sm-12">
            <h5>Your Order</h5>
            <table class="table">
                <tr>
                    <th ><strong>Product</strong></th>
                    <th class="text-right">Total</th>
                </tr>
                <tr>
                    <td>Sub Total</td>
                    <td class="text-right">₹ {{cartTotal}}</td>
                </tr>
                <tr>
                    <td>Shipping Cost</td>
                    <td class="text-right">Free</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0">Grand Total</h6></td>
                    <td class="text-right"><h6 class="mb-0">₹ {{cartTotal}}</h6></td>
                </tr>
            </table>
            
        </div>
        <div class="col-sm-12 text-right">
            <button class="btn btn-info" routerLink="/place-order">Place Order</button>
        </div>
    </div>
</div>


