<div class="container my-5">
        <div class="row justify-content-end">
           
            <div class="col-sm-12">
                   <h1 style="color:green">Order placed sucessfully!</h1>
            </div>
           
        </div>
    </div>
    
    
    