<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav navbar_nav">
                <li class="active"><a routerLink="/lab-tests">Home</a></li>
                <!--<li><a routerLink="/cart">Cart</a></li>-->
                <li><a routerLink="/lab-tests">Lab Tests</a></li>              
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
